# Entorno virtual
workshop3_env/

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos de Jupyter
.ipynb_checkpoints/

# Datos sensibles
data/raw/*
config/credentials.json

# Archivos de base de datos
database/*

# Archivos generados
results/plots/*
models/*
deliverable/*

# Archivos de Kafka
kafka_3.6.0/