# Entorno virtual
venv/

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos de Jupyter
.ipynb_checkpoints/

# Datos sensibles
config/credentials.json

# Archivos de base de datos


# Archivos generados


# Archivos de Kafka
kafka_3.6.0/